<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    <body>
        <nav>
         <div class="logo">
           <h5>SENPAI FRAMES</h5>
             
         </div>
         <ul class="navLink">
           <li><a href="/feed">Home</a></li>
           <li><a href="/profile">Profile</a></li>
           <li><a href="/logout">Logout</a></li>
         </ul>
         <!-- <div class="lines">
             <div class="l1"></div>
             <div class="l2"></div>
             <div class="l3"></div>
         </div> -->
       </nav>
   
   <header>
     <h1>Anime Wallpapers Hub</h1>
     <h2>SENPAI FRAMES</h2>
   </header> 
   
     
   <div class="container">   
   <div class="box">
                   <a href="public/images/zoro wallpaper.jpg" >
                   <img src="images/zoro wallpaper.jpg" alt="image"></a>
               <div class="caption">Zoro Wllpaper</div>
     </div> 
         
   <div class="box">
                   <a href="public/images/vecteezy_cartoon-anime-onepiece-with-shopping-bag-with-ai-generative_34227686.png" >
                   <img src="/images/vecteezy_cartoon-anime-onepiece-with-shopping-bag-with-ai-generative_34227686.png" alt="image"></a>
               <div class="caption">Luffy</div>
     </div> 
         
   <div class="box">
                   <a href="public/images/gojo.jpeg" >
                   <img src="/images/gojo.jpeg" alt="image"></a>
               <div class="caption">Satoru Gojo</div>
     </div> 
         
   <div class="box">
                   <a href="public/images/jinwoo.jpeg" >
                   <img src="/images/jinwoo.jpeg" alt="image"></a>
               <div class="caption">Sung Jinwoo</div>
     </div> 
       
   <div class="box">
                   <a href="public/images/itachi.jpeg" >
                   <img src="/images/itachi.jpeg" alt="image"></a>
               <div class="caption">Itchi Uchiha </div>
     </div> 
         
         
   <div class="box">
                   <a href="/public/images/vecteezy_ai-generated-male-anime-characters-png-transparent-background_35916301.png" >
                   <img src="/images/vecteezy_ai-generated-male-anime-characters-png-transparent-background_35916301.png" alt="image"></a>
               <div class="caption">Roranoa Zoro</div>
     </div> 
         
   <div class="box">
                   <a href="public/images/naruto.jpeg" >
                   <img src="/images/naruto.jpeg" alt="image"></a>
               <div class="caption">Naruto Uzumaki</div>
     </div> 
         
   <div class="box">
                   <a href="public/images/obito.jpeg" >
                   <img src="/images/obito.jpeg" alt="image"></a>
               <div class="caption">Obito Uchiha</div>
     </div> 
         
    <div class="box">
                   <a href="public/images/tanjiro.jpeg" >
                   <img src="/images/tanjiro.jpeg" alt="image"></a>
               <div class="caption">Tanjiro</div>
     </div>  
         
   <div class="box">
                   <a href="/public/images/luffy.jfif" >
                   <img src="/images/luffy.jfif" alt="image"></a>
               <div class="caption">Monkey D Luffy</div>
     </div> 
    
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>
         <script src="/javascripts/script.js"></script>
   </body>
                     
   
</body>
</html>